body {
	background-color: #fff;

}

p{
	font-family: helvetica, arial, sans-serif;
	font-weight: 700;
}

.container {
	background-color: red;
	width: 500px;
	height: 500px;
}

.section1 {
	background-color: green;
	width: 225px;
	height: 225px;
	margin: 0 10%;
}

.section2 {
	background-color: purple;
	width: 225px;
	height: 225px;
	margin: 0 10%;
}

.subsection1 {
	background-color: orange;
	width: 85px;
	height: 85px;
	margin: 0 10%;
}

.subsection2 {
	background-color: yellow;
	width: 85px;
	height: 85px;
	margin: 0 10%;
}

.subsection3 {
	background-color: blue;
	width: 85px;
	height: 85px;
	margin: 0 10%;
}

.subsection4 {
	background-color: pink;
	width: 85px;
	height: 85px;
	margin: 0 10%;
}